.home {
    width: 100%;
    padding-bottom: 80px;
    background-color: black;
    color: white;
}

.home__container {
    width: 95%;
    margin: 0 auto;
}

Link {
    text-decoration: none;
}

.models-name {
    width: 100%;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(215, 142, 6);
    border-top: 1px solid rgb(215, 142, 6);
}

.name-car,
.name-chan {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3rem;
}

.name-tiff,
.name-graff {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
}

.name-efe {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.4rem;
}


/* ? Product Cards------------------------------------- */
.title-box {
    width: 30px;
    height: 50px;
    border-radius: 5px;
    background-color: rgb(110, 2, 2);
}

.home__container-products-title,
.home__container-collages-title {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-top: 100px;
}

.home__container-products-title>h1,
.home__container-collages-title>h1 {
    font-size: 3rem;
}

.home__container-products-cards {
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.home__container-products-cards-card-img {
    width: 380px;
    height: 420px;
    margin-top: 40px;
}

.home__container-products-cards-card-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid rgb(215, 142, 6);
    border-radius: 10px;
}

.home__container-products-cards-card-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home__container-products-cards-card-info>p {
    font-size: 1.3rem;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    margin: 13px 0;
}

.product-btn {
    font-size: 1.1rem;
    margin-left: 45%;
    margin-top: 30px;
    padding: 8px 12px;
    background-color: rgb(129, 60, 10);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: 400;
    font-family: 'Ubuntu';
    border: 1px solid rgb(129, 60, 10);
    outline: none;
    cursor: pointer;
}

.product-btn:hover {
    border: 1px solid rgb(129, 60, 10);
    background-color: black;
    color: rgb(129, 60, 10);
}

.home__container-products-cards-card-info>span {
    font-size: 1rem;
    text-align: center;
    font-family: 'Ubuntu';
    margin: 5px 0;
}

.home__container-products-category {
    width: 98%;
    margin: 20px auto;
    font-family: 'Ubuntu';
}

.home__container-products-category-card {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    align-items: center;
    margin-top: 30px;
}

.category-card-flex {
    width: 16%;
    height: 180px;
}

.category-card-flex>img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
}

.category-card-flex>img:hover {
    box-shadow: 0px 10px 15px rgb(118, 104, 104);
    cursor: pointer;
}

.category-card-flex>p {
    text-align: center;
    font-weight: 500;
}

.home__container-products-one {
    width: 98%;
    margin: 130px auto;
    height: 400px;
    /* background-image: url('../assets/images/uzuk2.jpg'); */
}

.home__container-products-one>img {
    width: 100%;
    height: 100%;
    border-radius: 90px 0 90px 0;
}

.home__container-products-one-info {
    width: 40%;
    font-family: 'Ubuntu';
    color: rgb(2, 2, 88);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 29px;
    position: relative;
    bottom: 70%;
    left: 6%;
}

.home__container-products-one-info>h3 {
    font-size: 1.9rem;
    font-family: 'Ubuntu';
    font-weight: 300;
    font-style: italic;
    margin-bottom: 15px;
}

.one-info-btn {
    font-size: 1rem;
    padding: 8px 12px;
    background-color: rgb(2, 2, 44);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    font-weight: 400;
    font-family: 'Ubuntu';
    border: none;
    outline: none;
    margin: 30px 0 18px 0;
    cursor: pointer;
}

.one-info-btn:hover {
    background-color: rgb(146, 21, 21);
}

/* ? Article ---------------------------------------*/
.home__container-article,
.home__container-articleLeft {
    width: 98%;
    margin: 140px auto;
    border-radius: 30px;
    background: rgb(34, 193, 195);
    background: linear-gradient(93deg, rgb(16, 99, 100) 4%, rgba(253, 187, 45, 1) 100%);
}

.home__container-articleLeft {
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgb(59, 2, 96) 0%, rgb(76, 34, 69) 50%, rgb(153, 103, 32) 100%);
}

.home__container-article-one {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu';
}

.home__container-articleLeft-one {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-family: 'Ubuntu';
}

.home__container-article-one-title,
.home__container-articleLeft-one-title {
    width: 36%;
    line-height: 28px;
}

.home__container-article-one-title>h3,
.home__container-articleLeft-one-title>h3 {
    font-size: 1.6rem;
    margin-bottom: 16px;
}

.home__container-article-one-title>p,
.home__container-articleLeft-one-title>p {
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home__container-article-one-title>img,
.home__container-articleLeft-one-title>img {
    width: 20%;
    height: 80px;
    border-radius: 50%;
    position: relative;
    bottom: 140px;
}

.home__container-articleLeft-one-title>img {
    position: relative;
    left: 80%;
    bottom: 140px;
}

.home__container-article-one-img,
.home__container-articleLeft-one-img {
    width: 45%;
    height: 530px;
}

.home__container-article-one-img>img,
.home__container-articleLeft-one-img>img {
    width: 100%;
    height: 100%;
}

/* ? Collages Photo */
.home__container-collages {
    width: 98%;
    margin: 0 auto;
    position: relative;
    left: 12px;
}

.home__container-collages-left-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.home__container-collages-left,
.home__container-collages-right {
    width: 50%;
    height: 400px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.home__container-collages-left>img,
.home__container-collages-right>img {
    width: 70%;
    height: 105%;
}

.home__container-collages-left-box,
.home__container-collage-right-box {
    width: 80%;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.home__container-collages-left-box>img,
.home__container-collage-right-box>img {
    width: 80%;
    height: 200px;
}

.home__container-collages-left-box>img:hover,
.home__container-collages-left>img:hover,
.home__container-collage-right-box>img:hover,
.home__container-collages-right>img:hover {
    transform: scale(1.04);
    cursor: pointer;
}


.home__container-aside {
    width: 98%;
    margin: 160px auto;
    border-bottom: 1px solid rgb(128, 85, 7);
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__container-aside-left,
.home__container-aside-right {
    width: 60%;
    height: 400px;
}

.home__container-aside-left>img,
.home__container-aside-right>img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.home__container-aside-center {
    width: 80%;
    font-family: 'Ubuntu';
    padding: 0 20px;
    text-align: center;
}

.home__container-aside-center>h2 {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    color: white;
}

.home__container-aside-center>p {
    font-weight: 400;
    color: rgb(146, 146, 224);
}

.home__container-aside-center>h1 {
    font-size: 2.1rem;
    margin: 30px 0;
    filter: drop-shadow(5px 7px 12px blue);
}

.aside-btn {
    padding: 6px 16px;
    font-size: 1.1rem;
    border-radius: 8px;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: rgb(2, 2, 33);
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

.aside-btn:hover {
    background-color: rgb(146, 21, 21);
}

.home__container-handcraft {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home__container-handcraft-about {
    width: 50%;
    padding: 15px;
    font-size: 1.2rem;
    font-family: 'Ubuntu';
    background-color: brown;
    text-align: center;
    position: relative;
    left: 26%;
    bottom: 240px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    border-radius: 20px;
}

.home__container-handcraft-img {
    width: 55%;
    height: 500px;
}

.home__container-handcraft-img>img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: drop-shadow(5px 9px 12px rgb(128, 85, 7));
}

.home__container-handcraft-example {
    width: 28%;
    height: 300px;
}

.home__container-handcraft-example>img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
}

.home__container-handcraft-example>img:last-of-type {
    position: relative;
    left: 40%;
    bottom: 100px;
}

/* ? Contact part */
.home__container-details {
    width: 98%;
    margin: 170px auto 20px auto;
    padding: 80px 20px;
    border-radius: 50px;
    background-color: rgb(30, 33, 33);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* background-image:url('src/assets/images/br1.jpg'); */
}

.home__container-details-left,
.home__container-details-center,
.home__container-details-right {
    width: 36%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__container-details-left>img,
.home__container-details-center>img,
.home__container-details-right>img {
    width: 60%;
    height: 60px;
}

.home__container-details-left>p,
.home__container-details-center>p,
.home__container-details-right>p {
    color: white;
    font-family: 'Ubuntu';
    line-height: 25px;
    font-size: 1.06rem;
    color: rgb(147, 129, 38);
}


/* @media only screen and (max-width:400px) {
    .models-name {
        width: 95%;
        margin: 0 auto;
        padding: 10px 0;
        flex-direction: column;
        z-index: 2;
        position: relative;
    }

    .name-car,
    .name-chan,
    .name-efe,
    .name-tiff,
    .name-graff {
        font-size: 1.1rem;
    }

    .title-box {
        width: 25px;
        height: 30px;
    }

    .home__container-products-title,
    .home__container-collages-title {
        width: 90%;
        gap: 7px;
        margin-top: 50px;
    }

    .home__container-products-title>h1,
    .home__container-collages-title>h1 {
        font-size: 1.2rem;
    }

    .home__container-products-cards {
        width: 90%;
        justify-content: center;
    }

    .home__container-products-cards-card-img {
        width: 270px;
        height: 320px;
        margin-top: 20px;
    }

    .home__container-products-cards-card-info>p {
        font-size: 1.15rem;
        margin: 7px 0;
    }

    .home__container-products-cards-card-info>span {
        font-size: 0.9rem;
        margin: 3px 0;
    }

    .product-btn {
        font-size: 1rem;
        margin-left: 32%;
        margin-top: 20px;
    }

    .home__container-products-category-card {
        gap: 6px;
        margin-top: 30px;
    }

    .category-card-flex {
        width: 60px;
        height: 60px;
    }

    .category-card-flex>p {
        font-size: 0.8rem;
    }

    .home__container-products-one {
        margin: 80px auto;
        height: 250px;
    }

    .home__container-products-one>img {
        border-radius: 55px 0 55px 0;
    }

    .home__container-products-one-info {
        width: 72%;
        font-size: 0.8rem;
        line-height: 22px;
        bottom: 94%;
        left: 6%;
    }

    .home__container-products-one-info>h3 {
        font-size: 1.3rem;
    }

    .one-info-btn {
        font-size: 0.7rem;
        padding: 6px 10px;
        margin: 8px 0 18px 0;
    }

    .home__container-article,
    .home__container-articleLeft {
        width: 98%;
        margin: 110px auto;
        border-radius: 10px;
    }

    .home__container-article-one {
        flex-direction: column;
    }

    .home__container-articleLeft-one {
        flex-direction: column-reverse;
    }

    .home__container-article-one-title,
    .home__container-articleLeft-one-title {
        width: 90%;
        line-height: 26px;
    }

    .home__container-articleLeft-one-title {
        position: relative;
        bottom: 90px;
    }

    .home__container-article-one-title>h3,
    .home__container-articleLeft-one-title>h3 {
        font-size: 1.3rem;
        margin: 14px 0;
    }

    .home__container-article-one-title>p,
    .home__container-articleLeft-one-title>p {
        font-size: 1rem;
    }

    .home__container-articleLeft-one-title>p {
        margin-bottom: 10px;
    }

    .home__container-article-one-title>img,
    .home__container-articleLeft-one-title>img {
        width: 20%;
        height: 70px;
        top: 5px;
        left: 80%;
    }

    .home__container-articleLeft-one-title>img {
        top: 240px;
    }

    .home__container-articleLeft-one-title>img {
        left: 80%;
    }

    .home__container-article-one-img,
    .home__container-articleLeft-one-img {
        width: 85%;
        height: 270px;
        margin: 20px 0;
    }

    .home__container-collages {
        width: 98%;
        margin: 0 auto;
        position: relative;
        left: 0;
    }

    .home__container-collages-left-right {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }


    .home__container-collages-left,
    .home__container-collages-right {
        width: 95%;
        height: 320px;
        gap: 10px;
        margin-top: -30px;
    }

    .home__container-collages-left>img,
    .home__container-collages-right>img {
        width: 60%;
        height: 80%;
    }

    .home__container-collages-left-box,
    .home__container-collage-right-box {
        width: 80%;
        gap: 10px;
        flex-direction: column;
    }

    .home__container-collages-left-box>img,
    .home__container-collage-right-box>img {
        width: 80%;
        height: 124px;
    }

    .home__container-aside {
        width: 98%;
        margin: 40px auto;
        padding-bottom: 60px;
        justify-content: center;
        flex-direction: column;
    }

    .home__container-aside-left,
    .home__container-aside-right {
        width: 80%;
        height: 300px;
    }

    .home__container-aside-center {
        width: 100%;
        padding: 15px 20px;
    }

    .home__container-aside-center>h2 {
        font-size: 1.2rem;
    }

    .home__container-aside-center>p {
        font-size: 0.8rem;
    }

    .home__container-aside-center>h1 {
        font-size: 1.7rem;
        margin: 24px 0;
    }

    .aside-btn {
        padding: 4px 12px;
        font-size: 0.9rem;
        border-radius: 5px;
    }

    .home__container-handcraft {
        width: 100%;
        padding-bottom: 0;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .home__container-handcraft-about {
        width: 90%;
        padding: 10px;
        font-size: 1rem;
        left: 6%;
        bottom: 140px;
    }

    .home__container-handcraft-img {
        width: 95%;
        height: 370px;
        margin-bottom: 100px;
    }

    .home__container-handcraft-example {
        width: 60%;
        height: 200px;
    }

    .home__container-handcraft-example>img:last-of-type {
        position: relative;
        left: 24%;
        bottom: 80px;
    }

    .home__container-details {
        width: 95%;
        margin: 170px auto 0 auto;
        padding: 20px 5px;
        flex-direction: column;
        gap: 10px;
    }

    .home__container-details-left,
    .home__container-details-center,
    .home__container-details-right {
        width: 100%;
        height: 90px;
        gap: 15px;
        justify-content: space-between;
    }

    .home__container-details-left>img,
    .home__container-details-center>img,
    .home__container-details-right>img {
        width: 40%;
        height: 40px;
    }

    .home__container-details-left>p,
    .home__container-details-center>p,
    .home__container-details-right>p {
        width: 98%;
        line-height: 22px;
        font-size: 0.9rem;
    }
} */

@media only screen and (max-width:430px) {
    .models-name {
        width: 95%;
        margin: 0 auto;
        padding: 10px 0;
        flex-direction: column;
        z-index: 2;
        position: relative;
    }

    .name-car,
    .name-chan,
    .name-efe,
    .name-tiff,
    .name-graff {
        font-size: 1.1rem;
    }

    .title-box {
        width: 25px;
        height: 30px;
        /* margin-left: 7px; */
    }

    .home__container-products-title,
    .home__container-collages-title {
        width: 90%;
        gap: 7px;
        margin-top: 50px;
    }

    .home__container-products-title>h1,
    .home__container-collages-title>h1 {
        font-size: 1.2rem;
    }

    .home__container-products-cards {
        width: 90%;
        justify-content: center;
    }

    .home__container-products-cards-card-img {
        width: 270px;
        height: 320px;
        margin-top: 20px;
    }

    .home__container-products-cards-card-info>p {
        font-size: 1.15rem;
        margin: 7px 0;
    }

    .home__container-products-cards-card-info>span {
        font-size: 0.9rem;
        margin: 3px 0;
    }

    .product-btn {
        font-size: 1rem;
        margin-left: 32%;
        margin-top: 20px;
    }

    .home__container-products-category-card {
        gap: 6px;
        margin-top: 30px;
    }

    .category-card-flex {
        width: 60px;
        height: 60px;
    }

    .category-card-flex>p {
        font-size: 0.8rem;
    }

    .home__container-products-one {
        margin: 80px auto;
        height: 250px;
    }

    .home__container-products-one>img {
        border-radius: 55px 0 55px 0;
    }

    .home__container-products-one-info {
        width: 72%;
        font-size: 0.8rem;
        line-height: 22px;
        bottom: 94%;
        left: 6%;
    }

    .home__container-products-one-info>h3 {
        font-size: 1.3rem;
    }

    .one-info-btn {
        font-size: 0.7rem;
        padding: 6px 10px;
        margin: 8px 0 18px 0;
    }

    .home__container-article,
    .home__container-articleLeft {
        width: 98%;
        margin: 110px auto;
        border-radius: 10px;
    }

    .home__container-article-one {
        flex-direction: column;
    }

    .home__container-articleLeft-one {
        flex-direction: column-reverse;
    }

    .home__container-article-one-title,
    .home__container-articleLeft-one-title {
        width: 90%;
        line-height: 26px;
    }

    .home__container-articleLeft-one-title {
        position: relative;
        bottom: 90px;
    }

    .home__container-article-one-title>h3,
    .home__container-articleLeft-one-title>h3 {
        font-size: 1.3rem;
        margin: 14px 0;
    }

    .home__container-article-one-title>p,
    .home__container-articleLeft-one-title>p {
        font-size: 1rem;
    }

    .home__container-articleLeft-one-title>p {
        margin-bottom: 10px;
    }

    .home__container-article-one-title>img,
    .home__container-articleLeft-one-title>img {
        width: 20%;
        height: 70px;
        top: 5px;
        left: 80%;
    }

    .home__container-articleLeft-one-title>img {
        top: 240px;
    }

    .home__container-articleLeft-one-title>img {
        left: 80%;
    }

    .home__container-article-one-img,
    .home__container-articleLeft-one-img {
        width: 85%;
        height: 270px;
        margin: 20px 0;
    }

    .home__container-collages {
        width: 98%;
        margin: 0 auto;
        position: relative;
        left: 0;
    }

    .home__container-collages-left-right {
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }


    .home__container-collages-left,
    .home__container-collages-right {
        width: 95%;
        height: 320px;
        gap: 10px;
        margin-top: -30px;
    }

    .home__container-collages-left>img,
    .home__container-collages-right>img {
        width: 60%;
        height: 80%;
    }

    .home__container-collages-left-box,
    .home__container-collage-right-box {
        width: 80%;
        gap: 10px;
        flex-direction: column;
    }

    .home__container-collages-left-box>img,
    .home__container-collage-right-box>img {
        width: 80%;
        height: 124px;
    }

    .home__container-aside {
        width: 98%;
        margin: 40px auto;
        padding-bottom: 60px;
        justify-content: center;
        flex-direction: column;
    }

    .home__container-aside-left,
    .home__container-aside-right {
        width: 80%;
        height: 300px;
    }

    .home__container-aside-center {
        width: 100%;
        padding: 15px 20px;
    }

    .home__container-aside-center>h2 {
        font-size: 1.2rem;
    }

    .home__container-aside-center>p {
        font-size: 0.8rem;
    }

    .home__container-aside-center>h1 {
        font-size: 1.7rem;
        margin: 24px 0;
    }

    .aside-btn {
        padding: 4px 12px;
        font-size: 0.9rem;
        border-radius: 5px;
    }

    .home__container-handcraft {
        width: 100%;
        padding-bottom: 0;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .home__container-handcraft-about {
        width: 90%;
        padding: 10px;
        font-size: 1rem;
        left: 6%;
        bottom: 140px;
    }

    .home__container-handcraft-img {
        width: 95%;
        height: 370px;
        margin-bottom: 100px;
    }

    .home__container-handcraft-example {
        width: 60%;
        height: 200px;
    }

    .home__container-handcraft-example>img:last-of-type {
        position: relative;
        left: 24%;
        bottom: 80px;
    }

    .home__container-details {
        width: 95%;
        margin: 170px auto 0 auto;
        padding: 20px 5px;
        flex-direction: column;
        gap: 10px;
    }

    .home__container-details-left,
    .home__container-details-center,
    .home__container-details-right {
        width: 100%;
        height: 90px;
        gap: 15px;
        justify-content: space-between;
    }

    .home__container-details-left>img,
    .home__container-details-center>img,
    .home__container-details-right>img {
        width: 40%;
        height: 40px;
    }

    .home__container-details-left>p,
    .home__container-details-center>p,
    .home__container-details-right>p {
        width: 98%;
        line-height: 22px;
        font-size: 0.9rem;
    }
}